.images-section {
  display: flex;
  justify-content: center; 
  padding: 20px;
}

.image-container {
  text-align: center;
  margin:  10px; 
}

.featured1-image {
  width: 700px; 
  height: 700px; 
  object-fit: cover; 
  border-radius: 13px; 
  font-size: 20px;
}


.featured2-image {
  width: 700px; 
  height: 700px; 
  object-fit: cover; 
  border-radius: 10px; 
}

.featured-text {
  font-size: 10rem;
  font-weight: 400;
  text-align: center;
 
}