.images-section {
  display: flex;
  justify-content: center; 
  padding: 20px;
}

.image-container {
  text-align: center;
  margin:  10px; 
}

.featured1-image {
  width: 750px; 
  height: 700px; 
  object-fit: cover; 
  border-radius: 13px; 
}


.featured2-image {
  width: 700px; 
  height: 700px; 
  object-fit: cover; 
  border-radius: 10px; 
}

.featured-text {
  margin-top: 1rem;
  font-size: 1.25rem; 
  color: #333; 
  text-transform: uppercase;
}
