/* Add the sliding animation */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.image-container {
  position: relative;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden; /* Add this to hide overflow on the x-axis as well */
}

.image-row {
  display: flex;
  flex-wrap: nowrap;
  width: 200%;
  animation: slide 15s linear infinite; /* Applying the sliding animation */
  transition: animation-play-state 0.2s ease; /* Smooth transition for pausing */
}

/* Pause sliding animation when hovering over an image */
.image-container:hover .image-row {
  animation-play-state: paused;
}

.image-item {
  flex: 0 0 auto;
  width: 400px; 
  height: auto;
  display: block;
  object-fit: cover;
  transition: transform 0.3s ease; /* Smooth transition for zoom effect */
}

/* Zoom out effect on hover */
.image-item:hover {
  transform: scale(1.1); /* Zooming out slightly */
}

h1 {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 21px;
  font-family: cursive;
  font-weight: 100;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

.pause-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}
