@import url('https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');

.playwrite-at-logo {
  font-family: "Times New Roman", Times, serif;
  font-weight: 500; 
  font-style: normal; 
  font-size: 1.7rem; 
  color: #000; 
  letter-spacing: 0.05rem; 
  text-transform: uppercase; 
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8f8f8;
  padding: 1.2rem;
  color: rgb(3, 3, 3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  flex-grow: 1;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-logo a {
  text-decoration: none; /* Remove underline from the Link element */
}

.navbar-logo h2 {
  margin: 0;
  
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-right: auto;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0.5rem 1rem;
  position: relative;
}

.navbar-links a:hover {
  color: #000;
}

.navbar-links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  top: 40px;
  width: 100%;
  height: 2px;
  background: #000;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.navbar-links a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.custom-icon {
  font-size: 1rem;
  color: #000;
  margin-right: 30px;
  
}

/* Same general styles as before */

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #000;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1.2rem;
    z-index: 1100;
    margin-right: 30px;
  }

  .navbar-links {
    display: none; /* Hidden by default */
    flex-direction: column;
    background-color: #eceaea;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    padding: 1.2rem;
    gap: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 50%;
    height: 250px;
  }

  .navbar-links.active {
    display: flex; /* Show when active */
  }

  .navbar-links li {
    margin: 0.5rem 0;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
  }

  .icon-container {
    margin-top: 1rem;
  }
  
}

