.new-collection {
 
  text-align: center;
  background: white; 
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.new-collection h2 {
  font-size: 3rem;
  color: #1a1f1a; /* Dark green */
  margin-top: 40px;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 40px; /* Space for underline */
}

.new-collection h2::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px; /* Height of the underline */
  background: #f6f8f6; /* Brighter green for underline */
  border-radius: 5px; /* Rounded corners */
}

/* Collection Grid */
.collection-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2px; /* Reduced gap for closer images */
  margin: 20px 0px;
}

/* Card Styles */
.collection-card {
  position: relative;
  background-color: transparent; /* Made background transparent */
  border: none; /* Removed border */
}

/* Card Hover Effect */
.collection-card:hover {
  box-shadow: none; /* Remove shadow on hover */
}

/* Image Styles */
.collection-card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  margin: 0 0 20px 0; /* Remove margin to pull images closely together */
}

/* Price Styles */
.collection-card p {
  margin: 10px 0;
  font-size: 1.3rem;
  font-weight: bold;
  color: #4a4d4a; /* Dark green for price */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .new-collection {
    padding: 20px;
  }

  .new-collection h1 {
    font-size: 2rem;
  }

  .new-collection h2 {
    font-size: 1.5rem;
  }
}
