.shirts-page {
    padding: 70px;
    text-align: center;
    background-color: #f5f5f5;
  }
  
  .shirts-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 70px;
  }
  
  .shirt-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    width: 200px;
  }
  
  .shirt-card:hover {
    transform: translateY(-5px);
  }
  
  .shirt-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .shirt-info {
    padding: 10px;
  }


   h1 {
    font-size: 30px;
    margin: 40px 0;
  }
  
  .shirt-info h2 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .shirt-info p {
    font-size: 16px;
    color: #555;
  }
  