.slideshow {
  position: relative; /* Position relative for absolute positioning of controls */
  width: 100%; /* Full width of the parent container */
  height: 100vh; /* Full viewport height or adjust as needed */
  overflow: hidden; /* Hide any overflow from the image */
}

.slideshow-image {
  width: 100%; /* Full width of the parent container */
  height: 100%; /* Full height of the parent container to cover the area */
  object-fit: cover; /* Ensure the image covers the container without distortion */
}

.slideshow-controls {
  position: absolute; /* Position controls on top of the image */
  bottom: 0; /* Align at the bottom of the image */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  display: flex;
  flex-direction: row; /* Stack controls vertically */
  align-items: center;
  justify-content: center; /* Center controls within the container */
  width: 30%;
  padding: 1rem; /* Adjust padding as needed */
  background-color: rgba(255, 255, 255, 0.8); /* White background with slight transparency */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow effect for separation */
}

.slideshow-button {
  background: none; /* No background for buttons */
  border: none;
  color: black; /* Change text color if needed */
  padding: 0.4rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
  margin: 0.5rem; /* Space between buttons */
  
}

.slideshow-button:hover {
  background: rgba(0, 0, 0, 0.1); /* Light background on hover */
}

.slideshow-caption-container {
  margin-top: 2rem; /* Space between controls and caption */
  text-align: center;
 
}

.slideshow-caption {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for text */
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
